<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.daza.app">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="YUNBA_APPKEY"
            android:value="@string/yunba_appkey" />

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="@string/bughd_key" />

        <activity
            android:name=".AppStart"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="@string/growingio_url_scheme" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".ui.AccountActivity"
            android:label="@string/title_activity_account" />
        <activity
            android:name=".ui.ArticleCommentCreateActivity"
            android:label="@string/title_activity_article_comment_create" />
        <activity
            android:name=".ui.ArticleCommentsActivity"
            android:label="@string/title_activity_article_comments" />
        <activity
            android:name=".ui.ArticleDetailActivity"
            android:label="@string/title_activity_article_detail" />
        <activity
            android:name=".ui.ArticleLikesActivity"
            android:label="@string/title_activity_article_likes" />
        <activity
            android:name=".ui.InAppBrowserActivity"
            android:label="@string/title_activity_inapp_browser" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password" />
        <activity
            android:name=".ui.ModifyProfileActivity"
            android:label="@string/title_activity_modify_profile" />
        <activity
            android:name=".ui.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings" />
        <activity
            android:name=".ui.OwnSubscribesActivity"
            android:label="@string/title_activity_own_subscribes" />
        <activity
            android:name=".ui.OwnTopicsActivity"
            android:label="@string/title_activity_own_topics" />
        <activity
            android:name=".ui.OwnUpvoteArticlesActivity"
            android:label="@string/title_activity_own_upvote_articles" />
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TagDetailActivity"
            android:label="@string/title_activity_tag_detail" />
        <activity
            android:name=".ui.TopicDetailActivity"
            android:label="@string/title_activity_topic_detail" />
        <activity
            android:name=".ui.UserDetailActivity"
            android:label="@string/title_activity_user_detail" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />

        <service android:name="io.yunba.android.core.YunBaService" />

        <receiver android:name="io.yunba.android.core.YunBaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>